node_modules
.env

# Ignoring the package lock until the diff'ing gets resolved
package-lock.json

# Ignore Transpiled Tests
dist/test
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
